<div class='about-container'>
    <header>
        <div class="module-title">
            <div class='title'>ABOUT</div>
            <div class='underline'></div>
        </div>
    </header>
    <p>This Application Helps a company or organization manage their daily tasks and allocations.</p>
    <p>It uses an AI algorithim to sort the tasks according to their descriptions.
    The Eisen Hower Decision matrix is used to prioritise task according to their combination of Importance and Urgency.
    The project admin, individuals and groups can clearly Identify tasks in each category and make decisions how to perform them.</p>
    
    <div class='list-heading'>Here is  a sample of the Eisen Hower Decision Matrix</div>
  
        <img class="profile" src="./assets/images/Eisen Hower decision matrix..PNG" alt="matrix" />
   
</div>
