<div class="new-task-container" style="display:none">
    <ejs-dialog #newTaskObj width='390px' cssClass='new-task-dialog' [isModal]='true'
        [visible]='false' [animationSettings]='animationSettings' [header]='title' [showCloseIcon]='true'
        target='body' (beforeOpen)='onBeforeOpen($event)'>
        <ng-template #content>
            <form id='new-task-form'>
                <div class="field-container name-container">
                    <ejs-textbox id='Name' name='Name' cssClass='task-name e-field' placeholder='Task Name'
                        floatLabelType='Always'></ejs-textbox>
                </div>
                <div class="field-container allocation-container">
                    <div class="allocation">
                        <div><label>Allocation</label></div>
                        <div class='e-btn-group e-round-corner e-field'>
                            <input type="radio" id="personCheckIndividual" name="Allocation" value="Individual" checked
                                (change)='onAllocationChange($event)'>
                            <label class="e-btn" for="personCheckIndividual">Individual</label>
                            <input type="radio" id="personCheckGroup" name="Allocation" value="Group"
                                (change)='onAllocationChange($event)' />
                            <label class="e-btn" for="personCheckGroup">Group</label>
                        </div>
                    </div>
                    <!-- <div class="dob">
                        <ejs-datepicker id='DOB' cssClass='e-field' placeholder='DOB' [value]='dobValue'
                        floatLabelType='Always' [showClearButton]='false'></ejs-datepicker>
                    </div> -->
                </div>
                <!-- <div class="field-container contact-container">
                    <div class="mobile">
                        <ejs-textbox id='Mobile' name='Mobile' cssClass='e-field' width='345px' placeholder='Mobile Number'
                            floatLabelType='Always'></ejs-textbox>
                    </div>
                    <div class="blood-group">
                        <ejs-dropdownlist id='BloodGroup' cssClass='e-field' placeholder='Blood Group' index=0
                            floatLabelType='Always' [dataSource]='bloodGroupData' [fields]='fields'></ejs-dropdownlist>
                    </div>
                </div> -->
                <!-- <div class="field-container email-container">
                    <ejs-textbox cssClass='e-field' id='Email' name ='Email' placeholder='Email' floatLabelType='Always'>
                    </ejs-textbox>
                </div> -->
                <div class="field-container descriptions-container">
                    <ejs-textbox cssClass='e-field' id='Description' name='Description' placeholder='Descriptions' floatLabelType='Always'>
                    </ejs-textbox>
                </div>
            </form>
        </ng-template>
        <ng-template #footerTemplate>
            <div class="button-container">
                <button ejs-button cssClass="e-normal" (click)='onCancelClick($event)'>Cancel</button>
                <button ejs-button cssClass="e-normal" [isPrimary]="true" (click)='onSaveClick()'>Save</button>
            </div>
        </ng-template>
    </ejs-dialog>
  </div>